# Additioanlly, ndppd is needed in order for your upstream router to route the
# traffic to following address to your machine. See ndppd.conf.sample. Or, you
# can add static entries in the neighbor table. Some cloud hypervisor
# implementations don't do ND at all and route all the traffic to the /64 prefix
# to the VM.
MTU1280NS_ADDR6_A=fd12:34::1:1280:0/128
MTU1280NS_ADDR6_B=fd12:34::2:1280:0/128
MTU1280NS_ADDR6_C=fd12:34::3:1500:0/128
MTU1280NS_NO_OFFLOAD=true
